body {
    background-image: url(bg.png);
    background-size: cover;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    
}

table {
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 180px;
    font-weight: 50;
    color:rgb(236, 240, 255);
    text-shadow: 7px 7px rgb(192, 28, 50);
    font-family: "Impact";
    cursor: default;
}

p{
    text-align: center;
    font-size: 15px;
    color: darkgray;
}

a{
    text-align: center;
}

.rounded-box1 {
    width: 300px;
    height: 200px;
    border-radius: 40px;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 7px solid black;
    background-size: cover;
    background-image: url("menu1_dark.png");
    line-height: 5;

}

.rounded-box1:hover {
    transform: scale(1.2);
    background-image: url("menu1.png");
    background-color: black;
    border: 7px solid #292727bd;
    
}

.rounded-box1 a {
    color: rgb(236, 240, 255);
    text-shadow: 2px 2px brown;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-family: "Georgia";
    text-shadow: 2px 2px rgb(192, 28, 50);
    cursor: default;
    margin-top: 50%;
}

.rounded-box1:hover a {
    color: rgb(236, 240, 255);
    text-shadow: 2px 2px rgb(192, 28, 50);
    
}

.rounded-box2 {
    width: 300px;
    height: 200px;
    border-radius: 40px;
    background-color: white;
    line-height: 5;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 7px solid black;
    background-image: url(menu2_dark.png);
    background-size:cover;

    
}

.rounded-box2:hover {
    transform: scale(1.2);
    background-image: url("menu2.png");
    border: 7px solid #292727bd;
    }

.rounded-box2 a {
    color: rgb(236, 240, 255);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-family: "Georgia";
    text-shadow: 2px 2px rgb(192, 28, 50);
    cursor: default;
}

.rounded-box3 {
    width: 300px;
    height: 200px;
    border-radius: 40px;
    background-color: white;
    line-height: 5;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 7px solid black;
    background-image: url(menu3_dark.png);
    background-size: cover;
    cursor:default;
}

.rounded-box3:hover {
    transform: scale(1.2);
    background-image: url("menu3.png");
    background-size: cover;
    border: 7px solid #292727bd;
}

.rounded-box3 a {
    color: rgb(236, 240, 255);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    font-family: "Georgia";
    text-shadow: 2px 2px rgb(192, 28, 50);
    cursor: default;
}
